<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WordPressUsername" value="admin" />
    <add key="WordPressPassword" value="123456" />
    <add key="WordPressBaseUrl" value="http://127.0.0.1/www/wp/" />
    <add key="WordPressBlogId" value="1" />
  </appSettings>
</configuration>